<!-- templates/meetings.html -->
{% extends "base.html" %}

{% block title %}F1 Meetings{% endblock %}

{% block content %}
<h1 class="mb-4 text-danger">F1 Meetings</h1>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for meeting in meetings %}
    <div class="col">
        <div class="card h-100 border-danger shadow" style="border-width:2px;">

            <div class="card-body">
                <h5 class="card-title text-danger">{{ meeting.meeting_name }}</h5>
                <p class="card-text">
                    <strong>Date:</strong> {{ meeting.date_start[:10] }}<br>
                    <strong>Location:</strong> {{ meeting.location }}, {{ meeting.country_name }}<br>
                    <strong>Circuit:</strong> {{ meeting.circuit_short_name }}
                </p>
                <a href="/sessions?meeting_key={{ meeting.meeting_key }}" class="btn btn-outline-danger btn-sm">View Sessions</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}